/* You can add global styles to this file, and also import other style files */

body {
  background-color: #2a165a;
}
.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #ef5350 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row { height: auto; }

.mat-header-cell { padding: 10px 10px 10px 10px !important; }

.mat-cell { padding: 10px 10px 10px 10px !important; }