html, body {
    margin:0px;
    height:100%;
}

p {
    color: white;
}

.main-screen {
    background-color: #4B7BE5;
    height: 84vh;
}

.options {
    background-color: #4B7BE5;
    height: 84vh;
}

.query-panel {
    background-color: #4B7BE5;
    margin-top: 1vh;
    height: 15vh;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 14pt;
    color: black;
}

.chart-diplay{
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-gap: 3em;
}

.bParent div {
    float: left;
}

.query-input {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.query-form {
    font-size: 8pt;
}

th {
    padding: 5px;
}

td {
    padding: 10px 0;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
}