<div class="container">
  <div class="row no-gutters">
    <div class="col-md-3" style="padding-right: 0.3vw">
      <div class="options bg-light rounded">
        <p
          style="
            font-family: 'Courier New', Courier, monospace;
            color: black;
            border-bottom: 1pt solid;
            border-width: 1pt;
            border-color: black;
            border-radius: 2pt;
            background-color: #4b7be5;
          "
        >
          &nbsp;&nbsp;&nbsp;Settings >>>
        </p>
      </div>
    </div>
    <div class="col-md-9" style="padding-left: 0.3vw;">
      <div class="main-screen bg-light rounded">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Query Results">
            <div class="container query-results">
              {{ currentQueryResults }}
            </div>
          </mat-tab>

          <mat-tab label="Server Statistics">
            <div class="bParent">
              <div
                class="lineChart"
                style="
                  display: block;
                  width: 45%;
                  margin-top: 5%;
                  margin-left: 3%;
                  margin-right: auto;
                "
              >
                <canvas
                  baseChart
                  [datasets]="lineChartData1"
                  [options]="lineChartOptions1"
                  [legend]="true"
                  [plugins]="lineChartPlugins1"
                  [labels]="lineChartLabels1"
                >
                </canvas>
              </div>

              <div
                class="lineChart"
                style="
                  display: block;
                  width: 45%;
                  margin-top: 5%;
                  margin-left: 3%;
                  margin-right: auto;
                "
              >
                <canvas
                  baseChart
                  [datasets]="lineChartData2"
                  [options]="lineChartOptions2"
                  [legend]="true"
                  [plugins]="lineChartPlugins2"
                  [labels]="lineChartLabels2"
                >
                </canvas>
              </div>

              <div
                class="lineChart"
                style="
                  display: block;
                  width: 45%;
                  margin-top: 5%;
                  margin-left: 3%;
                  margin-right: 0%;
                "
              >
                <canvas
                  baseChart
                  [datasets]="lineChartData3"
                  [options]="lineChartOptions3"
                  [legend]="true"
                  [plugins]="lineChartPlugins3"
                  [labels]="lineChartLabels3"
                >
                </canvas>
              </div>
            </div>

            <div class="aParent">
              <div
                class="pieChart"
                style="
                  display: block;
                  width: 35%;
                  margin-top: 0%;
                  margin-left: 0%;
                  margin-right: 3%;
                "
              >
                <canvas
                  baseChart
                  [datasets]="pieChartData"
                  [labels]="pieChartLabels"
                  [type]="'pie'"
                  [options]="pieChartOptions"
                  [legend]="true"
                >
                </canvas>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="query-panel bg-light rounded">
        <p
          style="
            font-family: 'Courier New', Courier, monospace;
            color: black;
            border-bottom: 1pt solid;
            border-width: 1pt;
            border-color: black;
            border-radius: 2pt;
            background-color: #4b7be5;
          "
        >
          &nbsp;&nbsp;&nbsp;Query Panel >>>
        </p>
        <div class="container">
          <div class="query-form">
            <mat-form-field class="query-input" appearance="outline">
              <input
                matInput
                autocomplete="off"
                type="text"
                [(ngModel)]="currentQuery"
                (keyup.enter)="processQuery()"
              />
              <mat-label> >> </mat-label>
            </mat-form-field>
          </div>

          <div class="past-queries">
            <ul>
              <li *ngFor="let query of pastQueries">{{ query }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
