<div *ngIf="auth.isLoggedIn | async as isLoggedIn; then authenticated else unauthenticated"></div>

<ng-template #authenticated>
    <mat-toolbar>
        <button mat-raised-button color="primary" [routerLink]="['/register']">Sign Up</button>
        <span class="example-spacer"></span>
        <span>Eyevory</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
    </mat-toolbar>
</ng-template>

<ng-template #unauthenticated>
    <mat-toolbar color="primary">
        <a routerLink="/home" class="title">{{title}}</a>
    </mat-toolbar>
</ng-template>
<router-outlet></router-outlet>